# Set:

In [3]:
g={'a',45,120,155,45,'rammu'}
print(g)

{155, 45, 'rammu', 120, 'a'}

In [2]:
g

{120, 155, 45, 'a', 'rammu'}

In [5]:
h={}
m={2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [6]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [7]:
s1={0,5,'rammu','lalita',25,5,'karthik'}
print(s1,type(s1))

{0, 5, 'lalita', 'rammu', 'karthik', 25} <class 'set'>

In [8]:
s1

{0, 25, 5, 'karthik', 'lalita', 'rammu'}

In [11]:
print(s1)
s1.add('sai')
print(s1)

{0, 5, 'lalita', 'rammu', 'sai', 'karthik', 25}
{0, 5, 'lalita', 'rammu', 'sai', 'karthik', 25}

In [12]:
s2={45,8,32,5,6}
s3={1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 8, 456, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [13]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

# Dictionary:

In [14]:
t={'name':('karthik','sai','ramana'),'age':20,'sal':24.125}
print(t,type(t))

{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125} <class 'dict'>

In [19]:
print(t['name'][1])

sai

In [20]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [21]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [23]:
print(t.values())

dict_values([('karthik', 'sai', 'ramana'), 20, 24.125])

In [24]:
y={'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [25]:
print(t.items())

dict_items([('name', ('karthik', 'sai', 'ramana')), ('age', 20), ('sal', 24.125)])

In [26]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('karthik', 'sai', 'ramana')
20
None

In [27]:
print(t)

{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125}

In [28]:
print(t)
t['no']=[12,78,89,120]
print(t)

{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125}
{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': [12, 78, 89, 120]}

In [30]:
print(t)
t['es']='karthik'
print(t)

{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': 'karthik'}
{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': 'karthik', 'es': 'karthik'}

In [34]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': 'karthik', 'es': 'karthik', 'tr': None}
{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': 'karthik', 'es': 'karthik', 'tr': None}

In [36]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': 'karthik', 'es': 'karthik', 'tr': None}
{'name': ('karthik', 'sai', 'ramana'), 'age': 20, 'sal': 24.125, 'no': 'karthik', 'es': 'karthik', 'tr': 45}

In [40]:
print(t.pop('age'))
print(t)

20
{'name': ('karthik', 'sai', 'ramana'), 'sal': 24.125, 'no': 'karthik', 'es': 'karthik'}

In [41]:
print(t.popitem())
print(t)

('es', 'karthik')
{'name': ('karthik', 'sai', 'ramana'), 'sal': 24.125, 'no': 'karthik'}

In [57]:
q=['name','age','sal']
w=[12,451,12,78,55,]
print(q)
print(w)
f={'name':45}
f.fromkeys(w)
print(f)
print(w)

['name', 'age', 'sal']
[12, 451, 12, 78, 55]
{'name': 45}
[12, 451, 12, 78, 55]

In [53]:
t={}
t.fromkeys(q,45)
print(t)

{}

contact application
ramu
1.diplay -> entered mobile number is :xxxxxxx
2.update mobile number

In [63]:
a=['he','she','we']
''.join(a)

'heshewe'