# Markdown format

# Heading-1
## Heading-2
### Heading-3
#### Heading-4
##### Heading-5
###### Heading-6
####### Heading-7

## Python Installations,Executions ways,Jupyter istallation

## variable:
    -To store a value
    -To access the value in different functions,methods
    -To change values

In [4]:
a = 10

In [5]:
a

10

In [6]:
b = 20

In [7]:
b

20

In [8]:
a = 200
b = 'rajesh'
a
b

'rajesh'

In [9]:
print(a,b)
print(b,a)

200 rajesh
rajesh 200

## Data types
    -Int(only numbers)
    -Float(decimal points)
    -String(either with ' or ')

In [10]:
c = 23.000
t='tarun'

In [11]:
c,t = 23.000,'tarun'

In [12]:
print(c,t)

23.0 tarun

In [13]:
c

23.0

## Type:
     -To known the data type for that value
     -Type(variable name,data structure)

In [14]:
type(c)

float

In [15]:
g = '12.056'
g

'12.056'

In [16]:
print(g)

12.056

In [17]:
print(type(g))

<class 'str'>

In [18]:
print(type(c))

<class 'float'>

In [19]:
print(type(a))

<class 'int'>

In [20]:
print(type(a),type(c),type(g))

<class 'int'> <class 'float'> <class 'str'>

## Input():
    -By default it will be consider as a string value
    -Print(),read()

In [ ]:
a = input()
print(a)

In [ ]:
d = 20

In [ ]:
d

In [ ]:
t = input('enter a value:')
print(t,type(t))

## Type casting
     -Converting one data into another data
      -int(),str(),float()

In [1]:
a = int(input())
b = float(input())
print(a,b)

12
35.00
12 35.0

In [2]:
p = int(input("enter only integer values:"))
print(p,type(p))

enter only integer values:55
55 <class 'int'>

In [3]:
m = float(input("enter the float values:"))
print(m,type(m))

enter the float values:55.01
55.01 <class 'float'>

In [5]:
r = str(input("enter the string value:"))
print(r,type(r))

enter the string value:"hi"
"hi" <class 'str'>

In [10]:
q = int(input("enter the integer value:"))
s = float(input("enter the float value:"))
t = str(input("enter the string value:"))
print(type(q),type(s),type(t))

enter the integer value:52
enter the float value:52.025
enter the string value:'252'
<class 'int'> <class 'float'> <class 'str'>