### Output
       -%
       -, +
       -.format

In [5]:
n = int(input("enter a value:"))
m = input("enter a name:")
print("entered number is:%d"%n)
print("entered name is:%s"%m)

enter a value:15
enter a name:hi
entered number is:15
entered name is:hi

In [2]:
print("entered number is:%dand entered name is%s"%(n,m
                                                  ))

entered number is:15and entered name israjesh

In [6]:
print("red number is:{} and entered name is :{}".format(n,m))
print("red number is:{1} and entered name is :{0}".format(n,m))

red number is:15 and entered name is :hi
red number is:hi and entered name is :15

## Operators:
      -arithmetic:+,-,*,/,%,floor(//  -> exact integer), exponentia(** -> pow())
      -logical -> and,or,not    true or false
      -bitwise -> &&,\\,>>,<<    value
      -relational -> ++,!=,>=,<=,<,>
      -assignment ->+=,-+,*=,/=,%=
      -membership -> in,notin
      -identity ->is,isnot

## Conditional statements:
      -To check whther a given condition is either true or false
      - if,nested if,if-else,elif ladder

## if -> single case[T or F]

        syntax :
               if(condition):
        //stmt

In [9]:
n = int(input())
if n == 45:
    print("entered value is: {}".format(n))

45
entered value is: 45

## if-else-> twocases[T or F]
        syntax:
             if(condition-1):
             //true statement
           else:
               //False statement

In [10]:
k = int(input())
m = int(input())
if k == m:
    print("entered values {} and {} are equal".format(k,m))
else:
    print("entered value {} is not equal to {}".format(k,m))

12
26
entered value 12 is not equal to 26

## Nested if [if with an if] -> one or more cases
         ---
             syntax:
                      if(conditon-1):
                          if(condition-2):
                             //stmt-1
                            
                            
                            if(condition-1):
                                  if (conditon-2):
                                  //stmt
                                  else:
                                  //stmt-2
                                  else:
                                  //stmt-3

In [16]:
n = int(input())
if(n<=200):
    if(n==100):
            print("entered value {} is equal to 100".format(n))
    else:
            print("entered value{} is not equal to 100 but it is lower than 200".format(n))
else:
            print("entered value{} is greater than 200".format(n))

100
entered value 100 is equal to 100

## elif -> two orn more cases

          syntax:
             if(conditional-1):
             //stmt-1
             elif(conditional-2):
             //stmt-2
             elif(conditional-n):
             //stmt-n
             \|||
             else:
             //stmt-(n+1)

In [23]:
h = int(input())
if h%5 == 0:
    print(":entered value {} is divisible by s".format(h))
elif h%2 == 0:
    print("entered value {} is divisiible by 2".format(h))
else:
    print("entered value{} is not divisible by5 and 2".format(h))

22115511
entered value22115511 is not divisible by5 and 2

## control statemets,Iterations,loops,repition
       - To control the flow of exceution
       - for ,while

## For -> for particular range=>[known range]
            -syntax
                     for iteration variable in iterator:
                        //stmt
                        
                        or
                        
                    for iterations variables in range():
                    //stmts

## Range:
       range(n):
             -> By default it starts from 0 to n-1
             range(n,m):
                 ->start range will starts from excatly at and stops at m-1
                 ->range(4,8):45,6,7
                 range(n,m,s):
                 -> start range will starts from exactly at n and stops at m-1 and stepping in s
                 range(4,10,2)-> 4,6,8

In [26]:
n = int(input()) 
for b in range(n):
    print(b,end=" ")

2
0 1

In [32]:
n = int(input("enter a starting range value:"))
m= int(input("enter ending  range value:"))
for b in range(n,m):
    print(b,end=" ")

enter a starting range value:2
enter ending  range value:5
2 3 4

In [33]:
n = int(input("enter a starting range value:"))
m= int(input("enter ending  range value:"))
s= int(input("enter stepping range value:"))
for b in range(n,m,s):
    print(b,end=" ")

enter a starting range value:22
enter ending  range value:101
enter stepping range value:50
22 72

In [38]:
n = int(input("enter a starting range value:"))
m= int(input("enter ending  range value:"))
for b in range(m,n,+1):
    print(b,end=" ")

enter a starting range value:5
enter ending  range value:2
2 3 4